html,
body {
  padding: 0;
  margin: 0;
  font-family: 'text-medium';
}

@font-face {
  font-family: 'text-medium';
  src: url('../public/fonts/Text-Medium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
